html {
    font-size : 2em;
}

html,
body {
    position : relative;
    height   : 100%;
    width    : 100%;
}

header {
    height     : 5%;
    background : green;
}

body #allSlides,
body #allCodes,
body > div.ink-carousel {
    height  : 90%;
    display : none;
}

body > div.ink-carousel > ul.stage > li.slide {
    display : none;
}

body.allSlides #allSlides,
body.slides #slides,
._1 .stage .slide._1,
._2 .stage .slide._2,
._3 .stage .slide._3,
._4 .stage .slide._4,
._5 .stage .slide._5,
._6 .stage .slide._6,
body.allCodes #allCodes,
body.codes  #codes,
._1 .stage .code._1,
._2 .stage .code._2,
body.demos  #demos {
    display : block;
}

div.ink-carousel ul.stage {
    height : 100% !important;
}

#allCodes iframe,
#allSlides iframe {
    height                   : 300px;
    -ms-zoom                 : 0.75;
    -moz-transform           : scale(0.75);
    -moz-transform-origin    : 0 0;
    -o-transform             : scale(0.75);
    -o-transform-origin      : 0 0;
    -webkit-transform        : scale(0.75);
    -webkit-transform-origin : 0 0;
}

li.slide {
    height : 100%;
}

body #allSlides,
#slides .slide,
body #allCodes,
#codes .slide {
    padding-top : 10%;
}

img.logo {
    margin     : auto;
    display    : block;
}
#slides .slide._3 {
    padding-top : 2.5%;
}

#slides ._3 iframe {
    height      : 95%;
    margin-left : 2.5%;
}

#codes pre {
    margin-left : 20%;
    overflow-x  : hidden;
}

footer {
    height  : 5%;
    padding : 0 0.5em;
    font-size : 0.75em;
}