html,
body {
    position : relative;
    height   : 100%;
    width    : 100%;
}

header {
    height     : 20%;
    background : green;
}

body > div {
    height  : 75%;
    display : none;
}

body.slides #slides,
body.demos  #demos,
body.codes  #codes {
    display : block;
}

footer {
    height : 5%;
}
