RewriteCond %{HTTP_USER_AGENT} .*MSIE.\d\.\d*
RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^/Anmo/TalkVizD3/master/(.+)$ http://%{HTTP_HOST}/Anmo/TalkVizD3/master/#$1 [NE,L,R]

RewriteRule ^/Anmo/TalkVizD3/master/(.*)$ /Anmo/TalkVizD3/master/index.php?$1
