AddDefaultCharset UTF-8
Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} .*MSIE.\d\.\d*
RewriteCond %{REQUEST_URI} !index.html
RewriteCond %{REQUEST_URI} !css
RewriteCond %{REQUEST_URI} !js
RewriteCond %{REQUEST_URI} !imgs
RewriteRule ^/(.+)$ http://%{HTTP_HOST}/TalkVizD3/#$1 [NE,L,R]

RewriteCond %{REQUEST_URI} !index.html
RewriteCond %{REQUEST_URI} !css
RewriteCond %{REQUEST_URI} !js
RewriteCond %{REQUEST_URI} !imgs
RewriteRule ^(.*)$ index.html?$1
